.ticket-list {
  padding: 0px 10px 10px 10px;
  max-width: none;
  margin: 0 auto;
  font-family: "Segoe UI", sans-serif;
}

.ticket-list h2 {
  font-size: 24px;
  margin-bottom: 8px;
  color: #333;
}

.subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.ticket-grid {
  display: flex;
  flex-direction: column;
  gap: 16px; /* khoảng cách giữa các đơn */
}

.ticket-order {
  flex: 0 0 calc(33.333% - 14px);
  box-sizing: border-box;
  background: linear-gradient(135deg, #fdfdfd, #f7f7f7);
  border: 2px solid #e0e0e0;
  border-top: 6px solid #004b51;
  border-bottom: 6px solid #004b51;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}

.ticket-order:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.ticket-order div {
  margin: 6px 0;
  font-size: 15px;
  color: #444;
}

.ticket-order strong {
  color: #222;
}

.ticket-items {
  margin-top: 16px;
}

.ticket-items strong {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
  color: #333;
}

.ticket-items ul {
  list-style: none;
  padding-left: 0;
}

.ticket-items li {
  background-color: #f0f0f0;
  border: 1px dashed #bbb;
  padding: 10px 14px;
  margin-bottom: 8px;
  border-radius: 6px;
  font-size: 14px;
  color: #555;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.ticket-items li span {
  white-space: nowrap;
}

.no-tickets {
  padding: 20px;
  font-style: italic;
  color: #999;
  text-align: center;
}
.qr-button {
  display: block;
  margin: 0 auto;
  padding: 8px 12px;
  background-color:#004b51;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.qr-button:hover {
  background-color:#336666;
}

.qr-container {
  margin-top: 12px;
  text-align: center;
}

.qr-label {
  margin-top: 6px;
  font-size: 13px;
  color:#004b51;
}
.ticket-subgrid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 10px 0px 10px 0px;
  justify-content: flex-start;
}

.ticket-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 160px;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}
.modal {
  background: white;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
  position: relative;
  color: #004b51;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ticket-subgrid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 12px;
  justify-content: flex-start;
}

.ticket-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 160px;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}