html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Momo'; /* Tên bạn đặt */
  
  /* Đổi đường dẫn này */
  /* TỪ: src: url('/fonts/MomoTrustDisplay-Regular.ttf') format('truetype'); */
  
  /* THÀNH: (đường dẫn tương đối từ index.css đến file font) */
  src: url('./assets/fonts/MomoTrustDisplay-Regular.ttf') format('truetype'); 
  
  font-weight: 400; 
  font-style: normal;
}
